

  body {
      font-family: arial, 'Helvetica Neue', Helvetica, sans-serif;
      color:#777;
      background: #777;
      width:960px;
      font-size:18px;
      align-content:center;
      margin-left:50px;
      margin-right:50px;
  }
  
  header {
      margin-top:10px;
      margin-bottom: 10px;

  }
      
  Header, Nav, Section, Aside, Footer {
      background:#ebebeb;
      text-align:center;
    padding:20px;
   
  }
  
  nav {
      margin-bottom:10px;
  }

  article {
      color:#ebebeb;
      background:#777;
      padding-bottom:10px;
      padding-top:10px;
  }
  

  aside {
    float:left;
      margin-left:10px;
      width:375px;
     
     
      

  }

  h1, p {
      color:#777;
      background:#ebebeb;
      margin-left:10px;
      margin-right:15px;
      padding:10px;
  }
  


 section {
     width:495px;
     margin-bottom:10px;
  
     float:left;
    overflow:auto
 
  }
    
  
  footer {
      clear:both;
    margin-top:10px;
   
  }
  